.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.navbar-title {
  font-size: 18px;
  text-decoration: none;
  align-items: center;
  color: #333;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
